# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/
.venv/

# =========================
# PyInstaller
# =========================
build/
dist/
*.spec

# =========================
# SQLite
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# logs
# =========================
*.log